<h1>All Items</h1>
<% @items.each do |item| %>
  <ul id="<%=item.id%>"><%= item.name %></ul>
  <li>Cost USD: $<%= item.price %></li>
  <li>Available at: <%= item.supermarket.name %></li>
  <li>Buyers: <%= item.customer_count %></li>
<% end %>